# QAQC

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
df = pd.read_csv('all_nta_w_target.csv')

In [3]:
df.head()

,ntacode,Boiler Emissions- Total NOx Emissions:Per km2,Boiler Emissions- Total PM2.5 Emissions:Per km2,Boiler Emissions- Total SO2 Emissions:Per km2,household_co2,Acenaphthene (HAP),Acenaphthylene (HAP),Acetaldehyde (HAP),Acetonitrile (HAP),Acrolein (HAP),...,Triethylamine (HAP),Trimethylpentane (HAP),Vinyl Acetate (HAP),Vinyl Chloride (HAP),Vinylidene Chloride (HAP),Volatile Organic Compounds (CAP),Xylene (HAP),Xylenes (Mixed Isomers) (HAP),child.asthma.rate.per.10K,adult.asthma.rate.per.10K
0,BK09,32.0,0.1,0.8,2.21,0.000300,NaN,0.142800,NaN,0.017200,...,NaN,NaN,NaN,NaN,NaN,9.735389,NaN,0.053100,6.1,2.8
1,BK17,23.7,0.1,0.9,72.43,0.261436,NaN,1.436950,NaN,0.452375,...,NaN,NaN,NaN,NaN,NaN,7.726573,NaN,349.767500,8.9,18.9
2,BK19,23.7,0.1,0.9,25.62,0.000200,NaN,0.008916,NaN,0.002789,...,NaN,NaN,NaN,NaN,NaN,0.632185,NaN,0.068286,8.0,13.2
3,BK21,23.7,0.1,0.9,18.82,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,65.7
4,BK23,23.7,0.1,0.9,7.47,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.9

In [5]:
df = df.fillna(0)

In [6]:
df.describe()

,Boiler Emissions- Total NOx Emissions:Per km2,Boiler Emissions- Total PM2.5 Emissions:Per km2,Boiler Emissions- Total SO2 Emissions:Per km2,household_co2,Acenaphthene (HAP),Acenaphthylene (HAP),Acetaldehyde (HAP),Acetonitrile (HAP),Acrolein (HAP),Acrylonitrile (HAP),...,Triethylamine (HAP),Trimethylpentane (HAP),Vinyl Acetate (HAP),Vinyl Chloride (HAP),Vinylidene Chloride (HAP),Volatile Organic Compounds (CAP),Xylene (HAP),Xylenes (Mixed Isomers) (HAP),child.asthma.rate.per.10K,adult.asthma.rate.per.10K
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,45.465128,1.262564,10.780513,28.108103,0.072078,0.298012,422.224404,2.815897,232.059239,0.213838,...,0.030769,17.936884,0.026154,0.426480,0.284119,10.988020,57.300028,69.851885,24.871795,22.258462
std,59.293254,2.401843,20.957606,30.053922,0.456974,2.537251,5182.076655,38.956479,2935.647462,2.466526,...,0.429669,149.872445,0.358092,3.913891,3.761583,77.677479,767.933181,516.606673,21.444079,17.574116
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.500000,0.100000,0.500000,4.735000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.900000,9.600000
50%,24.900000,0.300000,2.200000,20.660000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.700000,15.800000
75%,39.650000,1.050000,9.150000,41.870000,0.000350,0.000000,0.001800,0.000000,0.000750,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.719261,0.000000,0.060050,37.200000,29.250000
max,284.700000,11.400000,99.700000,149.460000,5.181377,29.241720,72288.013036,544.000000,40966.847449,34.014100,...,6.000000,1764.568888,5.000000,46.770500,52.500000,1054.442904,10722.636063,6834.517800,93.800000,75.800000

In [7]:
df_trees = pd.read_csv('/Volumes/Rohun Backups/Datasets/2015_Street_Tree_Census_-_Tree_Data.csv')

In [8]:
df_trees.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [9]:
df_trees.shape

(683788, 45)

In [10]:
trees_by_nta = df_trees.groupby('nta').count().reset_index() #agg(['count']).reset_index()

In [11]:
trees_by_nta.head(1)

,nta,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,BK09,1767,1767,1767,1767,1767,1767,1767,1718,1718,...,1767,1767,1767,1767,1767,1767,1761,1761,1744,1744

In [12]:
trees_by_nta = trees_by_nta[['nta', 'tree_id']]

In [13]:
trees_by_nta.head()

    nta  tree_id
0  BK09     1767
1  BK17     5321
2  BK19     1281
3  BK21     1454
4  BK23      481

In [14]:
df = df.merge(trees_by_nta, how = 'left', left_on = 'ntacode', right_on = 'nta')

In [15]:
df.head()

,ntacode,Boiler Emissions- Total NOx Emissions:Per km2,Boiler Emissions- Total PM2.5 Emissions:Per km2,Boiler Emissions- Total SO2 Emissions:Per km2,household_co2,Acenaphthene (HAP),Acenaphthylene (HAP),Acetaldehyde (HAP),Acetonitrile (HAP),Acrolein (HAP),...,Vinyl Acetate (HAP),Vinyl Chloride (HAP),Vinylidene Chloride (HAP),Volatile Organic Compounds (CAP),Xylene (HAP),Xylenes (Mixed Isomers) (HAP),child.asthma.rate.per.10K,adult.asthma.rate.per.10K,nta,tree_id
0,BK09,32.0,0.1,0.8,2.21,0.000300,0.0,0.142800,0.0,0.017200,...,0.0,0.0,0.0,9.735389,0.0,0.053100,6.1,2.8,BK09,1767.0
1,BK17,23.7,0.1,0.9,72.43,0.261436,0.0,1.436950,0.0,0.452375,...,0.0,0.0,0.0,7.726573,0.0,349.767500,8.9,18.9,BK17,5321.0
2,BK19,23.7,0.1,0.9,25.62,0.000200,0.0,0.008916,0.0,0.002789,...,0.0,0.0,0.0,0.632185,0.0,0.068286,8.0,13.2,BK19,1281.0
3,BK21,23.7,0.1,0.9,18.82,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,30.1,65.7,BK21,1454.0
4,BK23,23.7,0.1,0.9,7.47,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,13.9,BK23,481.0

In [16]:
nei_df = pd.read_csv('clean_nei_df_all_geocoded.csv')

In [17]:
nei_df.head()

,X,STATE,COUNTY,FACILITY,CITY,ZIP.CODE,POLLUTANT,POLLUTANT.TYPE,EMISSIONS,UNIT.OF.MEASURE,FACILITY.TYPE,NAICS.CODE,NAICS.DESCRIPTION,address,location,lon,lat
0,5,NY,Queens,John F Kennedy Intl,New York,0,Formaldehyde,HAP,160290.871766,LB,Airport,48811,AIRPORT OPERATIONS,John F Kennedy Intl,John F Kennedy Intl New York NY 0,-73.778139,40.641311
1,14,NY,Queens,John F Kennedy Intl,New York,0,Acetaldehyde,HAP,55608.093500,LB,Airport,48811,AIRPORT OPERATIONS,John F Kennedy Intl,John F Kennedy Intl New York NY 0,-73.778139,40.641311
2,17,NY,Queens,La Guardia,New York,0,Formaldehyde,HAP,47812.931054,LB,Airport,48811,AIRPORT OPERATIONS,La Guardia,La Guardia New York NY 0,-73.873966,40.776927
3,21,NY,Queens,RAVENSWOOD GENERATING STATION,QUEENS,11101,Hexane,HAP,38814.690000,LB,Electricity Generation via Combustion,221112,FOSSIL FUEL ELECTRIC POWER GENERATION.,38-54 VERNON BLVD,38-54 VERNON BLVD QUEENS NY 11101,-73.945917,40.759447
4,24,NY,Queens,John F Kennedy Intl,New York,0,Acrolein,HAP,31572.707015,LB,Airport,48811,AIRPORT OPERATIONS,John F Kennedy Intl,John F Kennedy Intl New York NY 0,-73.778139,40.641311

In [18]:
nta_gdf = gpd.read_file('Neighborhood Tabulation Areas/geo_export_0f07cd7c-4789-446b-ba19-38bba9fdf894.shp')

In [19]:
nta_gdf.head()

,boro_code,boro_name,county_fip,ntacode,ntaname,shape_area,shape_leng,geometry
0,3.0,Brooklyn,047,BK88,Borough Park,5.400502e+07,39247.228028,POLYGON ((-73.97604935657381 40.63127590564677...
1,4.0,Queens,081,QN51,Murray Hill,5.248828e+07,33266.904995,POLYGON ((-73.80379022888246 40.77561011179248...
2,4.0,Queens,081,QN27,East Elmhurst,1.972685e+07,19816.712318,"POLYGON ((-73.86109724335759 40.7636644770869,..."
3,4.0,Queens,081,QN07,Hollis,2.288777e+07,20976.335574,POLYGON ((-73.75725671509139 40.71813860166257...
4,1.0,Manhattan,061,MN06,Manhattanville,1.064708e+07,17040.685413,POLYGON ((-73.94607828674226 40.82126321606191...