In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import dask

In [61]:
walkability_df = gpd.read_file('/Volumes/Rohun Backups/Datasets/Natl_WI_SHP/Natl_WI.shp')

In [62]:
walkability_df.shape

(220653, 28)

In [63]:
walkability_df.head()

,GEOID10,TRFIPS,CFIPS,SFIPS,CSA,CSA_Name,CBSA,CBSA_Name,COUNTHU10,TOTPOP10,...,D3b,D4a,D2A_Ranked,D2B_Ranked,D4A_Ranked,D3B_Ranked,NatWalkInd,Shape_Leng,Shape_Area,geometry
0,010059505002,950500,005,01,None,None,21640.0,"Eufaula, AL-GA",523.0,1119.0,...,0.645676,-99999.0,8,6,1,1,3.000,0.846952,0.018273,POLYGON ((-85.27760025199996 31.85655598100004...
1,010059505001,950500,005,01,None,None,21640.0,"Eufaula, AL-GA",932.0,1212.0,...,5.203880,-99999.0,5,12,1,4,4.500,0.521148,0.005095,POLYGON ((-85.15784921699998 31.82915297900007...
2,010059502001,950200,005,01,None,None,21640.0,"Eufaula, AL-GA",420.0,828.0,...,1.066470,-99999.0,17,11,1,2,5.667,0.660835,0.018740,POLYGON ((-85.39409829399995 32.02564701500006...
3,010059502002,950200,005,01,None,None,21640.0,"Eufaula, AL-GA",327.0,2321.0,...,0.568094,-99999.0,13,6,1,1,3.833,0.695057,0.020340,POLYGON ((-85.46273131299995 32.01732301100003...
4,010059504002,950400,005,01,None,None,21640.0,"Eufaula, AL-GA",494.0,2267.0,...,1.487100,-99999.0,18,10,1,2,5.667,0.499117,0.008829,POLYGON ((-85.58513133499997 31.72677294300007...

In [64]:
walkability_df = pd.DataFrame(walkability_df)

In [65]:
walkability_df = walkability_df.loc[(walkability_df.SFIPS == '36') & 
                                    (walkability_df.CFIPS.isin(['005', '047','061', '081', '085']))]

In [66]:
walkability_df.head()

,GEOID10,TRFIPS,CFIPS,SFIPS,CSA,CSA_Name,CBSA,CBSA_Name,COUNTHU10,TOTPOP10,...,D3b,D4a,D2A_Ranked,D2B_Ranked,D4A_Ranked,D3B_Ranked,NatWalkInd,Shape_Leng,Shape_Area,geometry
128272,360850008003,000800,085,36,408,"New York-Newark-Bridgeport, NY-NJ-CT-PA",35620.0,"New York-Northern New Jersey-Long Island, NY-N...",740.0,1920.0,...,140.7840,-99999.000000,4,1,1,18,7.167,0.021414,0.000027,POLYGON ((-74.06043131199993 40.60636221700003...
128273,360850008001,000800,085,36,408,"New York-Newark-Bridgeport, NY-NJ-CT-PA",35620.0,"New York-Northern New Jersey-Long Island, NY-N...",590.0,1795.0,...,132.2780,845.353016,17,19,15,18,17.000,0.024606,0.000036,POLYGON ((-74.06933131499994 40.61246821800006...
128274,360850009001,000900,085,36,408,"New York-Newark-Bridgeport, NY-NJ-CT-PA",35620.0,"New York-Northern New Jersey-Long Island, NY-N...",534.0,1090.0,...,155.5010,900.731162,1,1,15,19,11.667,0.018323,0.000014,POLYGON ((-74.08110232099995 40.63993022300008...
128275,360850020021,002002,085,36,408,"New York-Newark-Bridgeport, NY-NJ-CT-PA",35620.0,"New York-Northern New Jersey-Long Island, NY-N...",1063.0,2599.0,...,106.6550,-99999.000000,9,15,1,16,9.667,0.039824,0.000067,POLYGON ((-74.06957131399997 40.59702821500008...
128276,360850021001,002100,085,36,408,"New York-Newark-Bridgeport, NY-NJ-CT-PA",35620.0,"New York-Northern New Jersey-Long Island, NY-N...",442.0,1270.0,...,89.3288,735.238811,7,15,15,15,13.667,0.021843,0.000016,POLYGON ((-74.07913531999998 40.62958122100008...

In [67]:
df_trial = walkability_df.groupby(['TRFIPS', 'CFIPS']).mean().reset_index()

In [68]:
df_trial.head()

,TRFIPS,CFIPS,CBSA,COUNTHU10,TOTPOP10,HH,WORKERS,AC_TOT,AC_WATER,AC_LAND,...,D2B_E8MIXA,D3b,D4a,D2A_Ranked,D2B_Ranked,D4A_Ranked,D3B_Ranked,NatWalkInd,Shape_Leng,Shape_Area
0,000100,005,35620.0,0.00,5545.5,0.00,712.5,334.225000,133.3400,200.891518,...,0.000000,0.136474,-49721.403255,1.0,1.0,8.50,1.0,3.5000,0.069457,0.000144
1,000100,047,35620.0,587.00,1084.5,556.75,579.5,13.803473,0.3175,13.484796,...,0.480790,189.116550,394.380847,9.0,10.5,17.25,18.0,15.0000,0.010546,0.000006
2,000100,061,35620.0,1.00,2.0,1.00,149.0,19.790000,0.7200,19.073078,...,0.000000,268.528000,-99999.000000,1.0,1.0,1.00,20.0,7.3330,0.017577,0.000008
3,000100,081,35620.0,2873.00,4949.0,2626.00,2276.0,333.680000,52.1300,281.550000,...,0.538439,78.040100,291.977781,18.0,11.0,18.00,14.0,15.5000,0.096634,0.000144
4,000200,005,35620.0,362.25,1083.5,337.75,343.5,85.390000,55.8725,29.513325,...,0.000000,159.425300,-99999.000000,1.5,1.0,1.00,17.0,6.4165,0.029005,0.000037

In [69]:
df_trial['tract_code'] = df_trial['CFIPS'] + df_trial['TRFIPS']

In [70]:
df_trial.head()

,TRFIPS,CFIPS,CBSA,COUNTHU10,TOTPOP10,HH,WORKERS,AC_TOT,AC_WATER,AC_LAND,...,D3b,D4a,D2A_Ranked,D2B_Ranked,D4A_Ranked,D3B_Ranked,NatWalkInd,Shape_Leng,Shape_Area,tract_code
0,000100,005,35620.0,0.00,5545.5,0.00,712.5,334.225000,133.3400,200.891518,...,0.136474,-49721.403255,1.0,1.0,8.50,1.0,3.5000,0.069457,0.000144,005000100
1,000100,047,35620.0,587.00,1084.5,556.75,579.5,13.803473,0.3175,13.484796,...,189.116550,394.380847,9.0,10.5,17.25,18.0,15.0000,0.010546,0.000006,047000100
2,000100,061,35620.0,1.00,2.0,1.00,149.0,19.790000,0.7200,19.073078,...,268.528000,-99999.000000,1.0,1.0,1.00,20.0,7.3330,0.017577,0.000008,061000100
3,000100,081,35620.0,2873.00,4949.0,2626.00,2276.0,333.680000,52.1300,281.550000,...,78.040100,291.977781,18.0,11.0,18.00,14.0,15.5000,0.096634,0.000144,081000100
4,000200,005,35620.0,362.25,1083.5,337.75,343.5,85.390000,55.8725,29.513325,...,159.425300,-99999.000000,1.5,1.0,1.00,17.0,6.4165,0.029005,0.000037,005000200

In [25]:
nta_tracts = pd.read_excel('/Volumes/Rohun Backups/Datasets/nyc2010census_tabulation_equiv.xlsx')

In [26]:
nta_tracts.columns = nta_tracts.iloc[0]
nta_tracts = nta_tracts.reindex(nta_tracts.index.drop(0))
nta_tracts.head()

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Code,Name
1,Bronx,005,2,031000,3704,BX31,Allerton-Pelham Gardens
2,Bronx,005,2,031200,3704,BX31,Allerton-Pelham Gardens
3,Bronx,005,2,031400,3704,BX31,Allerton-Pelham Gardens
4,Bronx,005,2,031600,3704,BX31,Allerton-Pelham Gardens
5,Bronx,005,2,031800,3704,BX31,Allerton-Pelham Gardens

In [27]:
nta_tracts['full_code'] = nta_tracts['2010 Census Bureau FIPS County Code'] + nta_tracts['2010 Census Tract']

In [74]:
df_trial = df_trial.merge(nta_tracts, how = 'left', left_on = 'tract_code', right_on = 'full_code')

In [75]:
df_trial.head()

,TRFIPS,CFIPS,CBSA,COUNTHU10,TOTPOP10,HH,WORKERS,AC_TOT,AC_WATER,AC_LAND,...,Shape_Area,tract_code,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Code,Name,full_code
0,000100,005,35620.0,0.00,5545.5,0.00,712.5,334.225000,133.3400,200.891518,...,0.000144,005000100,Bronx,005,2,000100,3710,BX98,Rikers Island,005000100
1,000100,047,35620.0,587.00,1084.5,556.75,579.5,13.803473,0.3175,13.484796,...,0.000006,047000100,Brooklyn,047,3,000100,4004,BK09,Brooklyn Heights-Cobble Hill,047000100
2,000100,061,35620.0,1.00,2.0,1.00,149.0,19.790000,0.7200,19.073078,...,0.000008,061000100,Manhattan,061,1,000100,3810,MN99,park-cemetery-etc-Manhattan,061000100
3,000100,081,35620.0,2873.00,4949.0,2626.00,2276.0,333.680000,52.1300,281.550000,...,0.000144,081000100,Queens,081,4,000100,4109,QN31,Hunters Point-Sunnyside-West Maspeth,081000100
4,000200,005,35620.0,362.25,1083.5,337.75,343.5,85.390000,55.8725,29.513325,...,0.000037,005000200,Bronx,005,2,000200,3709,BX09,Soundview-Castle Hill-Clason Point-Harding Park,005000200

In [76]:
df_trial.columns

Index(['TRFIPS', 'CFIPS', 'CBSA', 'COUNTHU10', 'TOTPOP10', 'HH', 'WORKERS',
       'AC_TOT', 'AC_WATER', 'AC_LAND', 'AC_UNPR', 'D2A_EPHHM', 'D2B_E8MIXA',
       'D3b', 'D4a', 'D2A_Ranked', 'D2B_Ranked', 'D4A_Ranked', 'D3B_Ranked',
       'NatWalkInd', 'Shape_Leng', 'Shape_Area', 'tract_code', 'Borough',
       '2010 Census Bureau FIPS County Code', '2010 NYC Borough Code',
       '2010 Census Tract', 'PUMA', 'Code', 'Name', 'full_code'],
      dtype='object')

In [77]:
df_for_mlc = df_trial.drop(['TRFIPS', 'CFIPS', 'CBSA', 'COUNTHU10', 'TOTPOP10', 'HH', 'WORKERS',
               'AC_TOT', 'AC_WATER', 'AC_LAND', 'AC_UNPR','Shape_Leng', 'Shape_Area', 'tract_code', 'Borough',
               '2010 Census Bureau FIPS County Code', '2010 NYC Borough Code', '2010 Census Tract', 'PUMA',
               'Name', 'full_code'], axis = 1)
df_for_int = df_trial.drop(['TRFIPS', 'CFIPS', 'CBSA', 'COUNTHU10', 'TOTPOP10', 'HH', 'WORKERS',
               'AC_TOT', 'AC_WATER', 'AC_LAND', 'AC_UNPR','Shape_Leng', 'Shape_Area', 'tract_code', 'Borough',
               '2010 Census Bureau FIPS County Code', '2010 NYC Borough Code', '2010 Census Tract', 'PUMA',
               'Name'], axis = 1)
df_for_mlc.head()

,D2A_EPHHM,D2B_E8MIXA,D3b,D4a,D2A_Ranked,D2B_Ranked,D4A_Ranked,D3B_Ranked,NatWalkInd,Code
0,0.000000,0.000000,0.136474,-49721.403255,1.0,1.0,8.50,1.0,3.5000,BX98
1,0.409928,0.480790,189.116550,394.380847,9.0,10.5,17.25,18.0,15.0000,BK09
2,0.000000,0.000000,268.528000,-99999.000000,1.0,1.0,1.00,20.0,7.3330,MN99
3,0.766771,0.538439,78.040100,291.977781,18.0,11.0,18.00,14.0,15.5000,QN31
4,0.042392,0.000000,159.425300,-99999.000000,1.5,1.0,1.00,17.0,6.4165,BX09

In [78]:
df_for_mlc.to_csv('walkability_index_mlc.csv')
df_for_int.to_csv('walkability_index_int.csv')

## Do the same thing for job access

In [3]:
job_access = gpd.read_file('/Volumes/Rohun Backups/Datasets/SLD_TRANS45_SHP/SLD_Trans45.shp')

In [4]:
job_access.head()

,GEOID10,CBG_ID,CBSA,CBSA_Name,TrAccess_I,Pop_byTr,Pop_byTr_m,Pop_byTr_1,Pop_byTr_a,Pct_Pop_by,...,Jobs_byTr_,Jobs_byTr1,Job_byTr_A,Pct_Jobs_b,Pct_Jobs_1,Pct_Jobs_2,Pct_Jobs_3,Shape_Leng,Shape_Area,geometry
0,010890109021,1.089011e+10,26620.0,"Huntsville, AL",0.00,0,0.0,76219.0,14477.3,0.000000,...,61667,2573,12930.3,0.000000,0.013858,0.332132,0.069641,0.330973,0.002018,POLYGON ((-86.37525071299996 34.73178256000006...
1,010890109022,1.089011e+10,26620.0,"Huntsville, AL",0.00,0,0.0,76219.0,14477.3,0.000000,...,61667,2573,12930.3,0.000000,0.013858,0.332132,0.069641,0.424572,0.006323,POLYGON ((-86.38100971299997 34.69851055300006...
2,010890107022,1.089011e+10,26620.0,"Huntsville, AL",0.00,0,0.0,76219.0,14477.3,0.000000,...,61667,2573,12930.3,0.000000,0.013858,0.332132,0.069641,0.168004,0.001686,POLYGON ((-86.56253677299998 34.84352357500006...
3,010890013012,1.089001e+10,26620.0,"Huntsville, AL",0.32,27090,0.0,76219.0,14477.3,0.064872,...,61667,2573,12930.3,0.036786,0.013858,0.332132,0.069641,0.053789,0.000135,POLYGON ((-86.63426178799995 34.74923755300006...
4,010890017002,1.089002e+10,26620.0,"Huntsville, AL",0.00,0,0.0,76219.0,14477.3,0.000000,...,61667,2573,12930.3,0.000000,0.013858,0.332132,0.069641,0.051042,0.000102,POLYGON ((-86.56254576599997 34.71893554900004...

In [5]:
job_access.columns

Index(['GEOID10', 'CBG_ID', 'CBSA', 'CBSA_Name', 'TrAccess_I', 'Pop_byTr',
       'Pop_byTr_m', 'Pop_byTr_1', 'Pop_byTr_a', 'Pct_Pop_by', 'Pct_Pop__1',
       'Pct_Pop__2', 'Pct_Pop__3', 'HU_byTr', 'HH_byTr', 'Wrks_byTr',
       'Wrks_byTr_', 'Wrks_byTr1', 'Wrks_byT_1', 'Pct_Wrks_b', 'Pct_Wrks_1',
       'Pct_Wrks_2', 'Pct_Wrks_3', 'LoWgWrks_b', 'LoWgWrks_1', 'LoWgWrks_2',
       'MeWgWrks_b', 'HiWgWrks_b', 'LoMeWgWrks', 'LoMeWgWr_1', 'LoMeWgWr_2',
       'Pct_LoWgWr', 'Pct_LoWg_1', 'Pct_LoWg_2', 'Pct_LoWg_3', 'Pct_MeWgWr',
       'Pct_LoMeWg', 'Pct_LoMe_1', 'Pct_LoMe_2', 'Pct_LoMe_3', 'Jobs_byTr',
       'Jobs_byTr_', 'Jobs_byTr1', 'Job_byTr_A', 'Pct_Jobs_b', 'Pct_Jobs_1',
       'Pct_Jobs_2', 'Pct_Jobs_3', 'Shape_Leng', 'Shape_Area', 'geometry'],
      dtype='object')

In [9]:
job_access.shape

(126228, 51)

In [11]:
job_access.CBSA_Name.value_counts()

New York-Northern New Jersey-Long Island, NY-NJ-PA    14377
Los Angeles-Long Beach-Santa Ana, CA                   8234
Chicago-Joliet-Naperville, IL-IN-WI                    6590
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD            4306
Dallas-Fort Worth-Arlington, TX                        4132
Detroit-Warren-Livonia, MI                             3681
Washington-Arlington-Alexandria, DC-VA-MD-WV           3545
Miami-Fort Lauderdale-Pompano Beach, FL                3420
Boston-Cambridge-Quincy, MA-NH                         3418
Houston-Sugar Land-Baytown, TX                         3036
San Francisco-Oakland-Fremont, CA                      2903
Phoenix-Mesa-Glendale, AZ                              2704
Atlanta-Sandy Springs-Marietta, GA                     2588
Seattle-Tacoma-Bellevue, WA                            2473
Minneapolis-St. Paul-Bloomington, MN-WI                2314
Riverside-San Bernardino-Ontario, CA                   2122
Tampa-St. Petersburg-Clearwater, FL                    2017
St. Louis, MO-IL                                       2009
Baltimore-Towson, MD                                   1949
Pittsburgh, PA                                         1919
Denver-Aurora-Broomfield, CO                           1797
San Diego-Carlsbad-San Marcos, CA                      1795
Cleveland-Elyria-Mentor, OH                            1694
Cincinnati-Middletown, OH-KY-IN                        1557
Kansas City, MO-KS                                     1556
Portland-Vancouver-Hillsboro, OR-WA                    1421
Sacramento--Arden-Arcade--Roseville, CA                1372
Milwaukee-Waukesha-West Allis, WI                      1302
Columbus, OH                                           1298
Las Vegas-Paradise, NV                                 1294
                                                      ...
Ukiah, CA                                                79
Missoula, MT                                             76
Truckee-Grass Valley, CA                                 75
Pendleton-Hermiston, OR                                  75
Cumberland, MD-WV                                        74
Dover, DE                                                72
Klamath Falls, OR                                        67
Lawrence, KS                                             65
Coos Bay, OR                                             64
Corvallis, OR                                            61
St. George, UT                                           57
Oak Harbor, WA                                           56
Port Angeles, WA                                         53
Seneca, SC                                               52
Salina, KS                                               51
Shelton, WA                                              48
Red Bluff, CA                                            43
Walla Walla, WA                                          43
Carson City, NV                                          43
Brigham City, UT                                         40
Butte-Silver Bow, MT                                     37
Astoria, OR                                              37
La Grande, OR                                            26
The Dalles, OR                                           22
Key West, FL                                             22
Hood River, OR                                           19
Bishop, CA                                               16
Prineville, OR                                           16
Brookings, OR                                            15
Manhattan, KS                                             1
Name: CBSA_Name, Length: 148, dtype: int64

In [12]:
job_access.loc[job_access.CBSA_Name == 'New York-Northern New Jersey-Long Island, NY-NJ-PA']

,GEOID10,CBG_ID,CBSA,CBSA_Name,TrAccess_I,Pop_byTr,Pop_byTr_m,Pop_byTr_1,Pop_byTr_a,Pct_Pop_by,...,Jobs_byTr_,Jobs_byTr1,Job_byTr_A,Pct_Jobs_b,Pct_Jobs_1,Pct_Jobs_2,Pct_Jobs_3,Shape_Leng,Shape_Area,geometry
72964,340373742002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.112954,0.000511,POLYGON ((-74.71854154099998 40.92105625600004...
72965,340373718005,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.176493,0.001554,POLYGON ((-74.67210954699993 41.25673932300003...
72966,340373723001,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.316754,0.003108,POLYGON ((-74.68387154599998 41.18504430900003...
72967,340373727002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.039792,0.000091,POLYGON ((-74.56885950799995 41.14917830600007...
72968,340373711002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.213263,0.002447,POLYGON ((-74.56110651299997 41.29614033500008...
72969,340373735002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.167150,0.001046,POLYGON ((-74.69275853899995 41.00553527400007...
72970,340373734006,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.056392,0.000069,POLYGON ((-74.63401952099997 41.02463127900006...
72971,340373734005,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.044904,0.000048,POLYGON ((-74.63799652299997 41.03183328100005...
72972,340373745002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.142703,0.000635,POLYGON ((-74.66958552899996 40.96359926700006...
72973,340373737004,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.043952,0.000091,POLYGON ((-74.75711256199997 41.05209028000007...
72974,340350538052,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.088513,0.000306,POLYGON ((-74.60052448199997 40.55822818900003...
72975,340350514002,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.037560,0.000044,POLYGON ((-74.58883947699996 40.53595118500004...
72976,340350514001,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.066554,0.000138,POLYGON ((-74.56933747099998 40.54206618700005...
72977,340350514003,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.055762,0.000129,POLYGON ((-74.58980747799995 40.53712918500003...
72978,340350515001,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.042320,0.000054,POLYGON ((-74.60412148299997 40.53682118500006...
72979,340350515002,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.038146,0.000040,POLYGON ((-74.58903447699998 40.53817718600004...
72980,340373749002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.055211,0.000064,POLYGON ((-74.65986252399995 40.94915426400007...
72981,340373749001,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.045750,0.000077,POLYGON ((-74.66331052599998 40.94358926300004...
72982,340373740002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.244086,0.002595,POLYGON ((-74.77014956599999 41.04845928000003...
72983,340373712001,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.039040,0.000077,POLYGON ((-74.60171652199995 41.21375531800004...
72984,340373731003,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.085974,0.000203,POLYGON ((-74.66555653099994 41.02923128000003...
72985,340373711003,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.439098,0.003619,POLYGON ((-74.54778350799995 41.25764332800003...
72986,340373712002,3.403737e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.041932,0.000095,POLYGON ((-74.60057752099993 41.21333031700004...
72987,340350516002,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.067734,0.000127,POLYGON ((-74.59546148099997 40.55472718900006...
72988,340350516001,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.060231,0.000141,POLYGON ((-74.56948447199994 40.55023718800004...
72989,340350538011,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.077427,0.000209,POLYGON ((-74.58593947399999 40.50014517800003...
72990,340350509032,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.072864,0.000318,POLYGON ((-74.59728148399995 40.60613119900006...
72991,340350520011,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.010000,286140,0.0,6442590.0,1807730.0,0.015142,...,3626438,62,1189730.0,0.014955,0.000008,0.452046,0.148303,0.048922,0.000080,POLYGON ((-74.41447642699995 40.63977621200007...
72992,340350517002,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.010000,312417,0.0,6442590.0,1807730.0,0.016532,...,3626438,62,1189730.0,0.019716,0.000008,0.452046,0.148303,0.024820,0.000035,POLYGON ((-74.42353142999997 40.62424020900005...
72993,340350518002,3.403505e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.006072,163570,0.0,6442590.0,1807730.0,0.008656,...,3626438,62,1189730.0,0.004753,0.000008,0.452046,0.148303,0.041309,0.000083,POLYGON ((-74.43453143299996 40.61627120600008...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103608,421039502022,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.317096,0.003512,POLYGON ((-74.98523966199997 41.48246735700008...
103609,421039505023,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.488416,0.009418,POLYGON ((-75.12808569999999 41.36551932800006...
103610,421039505021,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.108451,0.000528,POLYGON ((-75.05163667299996 41.32018932300008...
103611,421039505022,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.141523,0.000705,POLYGON ((-75.02147566499997 41.33488732600006...
103612,421039506051,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.272148,0.002486,POLYGON ((-75.00763365899996 41.32410332500007...
103709,421039509002,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.549786,0.016835,POLYGON ((-75.07643566999997 41.14213828700008...
103710,421039501021,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.430590,0.006306,POLYGON ((-74.90814963599996 41.46490435500004...
103711,421039502011,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.251428,0.002412,POLYGON ((-75.04643568399996 41.51774836000004...
103712,421039502021,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.434288,0.006007,POLYGON ((-75.09125069599997 41.48065435300003...
103713,421039508021,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.141364,0.000709,POLYGON ((-75.04802265899997 41.12497328500007...
103714,421039508022,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.292257,0.003679,POLYGON ((-75.02944865799998 41.19444729900005...
103715,421039503011,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.342471,0.003401,POLYGON ((-75.23737173599994 41.37979132800007...
103716,421039509001,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.421077,0.003202,POLYGON ((-75.27243574599999 41.34638831900003...
103717,421039508011,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.270861,0.002416,POLYGON ((-75.00465564999996 41.20095630100008...
103718,421039507011,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.299118,0.003452,POLYGON ((-74.97564464499999 41.25829731400006...
103719,421039509003,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.366851,0.004802,POLYGON ((-75.30333175299995 41.30562031100004...
103720,421039507021,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.221613,0.002237,POLYGON ((-74.90479962199998 41.25935831600003...
103721,421039507012,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.250922,0.002763,POLYGON ((-74.89379761699996 41.23460731100005...
103722,421039507013,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.160561,0.001060,POLYGON ((-74.94546463199998 41.21733630600005...
103723,421039507022,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.308340,0.003138,POLYGON ((-74.84525560299994 41.25691631700005...
103724,421039508013,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.283372,0.002472,POLYGON ((-74.97609863899999 41.17332829700007...
103725,421039508023,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.133305,0.000517,POLYGON ((-75.04560765899998 41.12474528500007...
103726,421039506063,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.196702,0.001234,POLYGON ((-74.90487062599993 41.32830932900004...
103727,421039501031,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.055210,0.000160,POLYGON ((-74.69725656199995 41.37161134500008...
103728,421039505011,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.567786,0.010805,POLYGON ((-75.15159071299996 41.43550834200005...
103729,421039506011,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.332203,0.003668,POLYGON ((-74.81214359899997 41.36262033900005...
103730,421039502012,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.441428,0.005073,POLYGON ((-75.09377470099997 41.54894736500006...
103731,421039503012,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.436261,0.005462,POLYGON ((-75.14518671299999 41.47778435000004...
103825,421039506031,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000038,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.057951,0.000139,POLYGON ((-74.80002659299998 41.32935633300008...
103826,421039503021,4.210395e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,3626438,62,1189730.0,0.000000,0.000008,0.452046,0.148303,0.477190,0.002164,POLYGON ((-75.17966472199998 41.45203134300004...

In [13]:
type(job_access['GEOID10'][0])

str

In [16]:
job_access['SFIPS'] = job_access['GEOID10'].apply(lambda x: x[:2])
job_access['CFIPS'] = job_access['GEOID10'].apply(lambda x: x[2:5])
job_access['TRFIPS'] = job_access['GEOID10'].apply(lambda x: x[5:11])

In [20]:
job_access_nyc = job_access.loc[(job_access.SFIPS == '36') & (job_access.CFIPS.isin(['005', '047','061', '081', '085']))]

In [21]:
job_access_nyc.head()

,GEOID10,CBG_ID,CBSA,CBSA_Name,TrAccess_I,Pop_byTr,Pop_byTr_m,Pop_byTr_1,Pop_byTr_a,Pct_Pop_by,...,Pct_Jobs_1,Pct_Jobs_2,Pct_Jobs_3,Shape_Leng,Shape_Area,geometry,FIPS,SFIPS,CFIPS,TRFIPS
80027,360850008003,3.608500e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,0.000008,0.452046,0.148303,0.021414,0.000027,POLYGON ((-74.06043131199993 40.60636221700003...,360850008003,36,085,000800
80028,360850008001,3.608500e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.001177,22093,0.0,6442590.0,1807730.0,0.001169,...,0.000008,0.452046,0.148303,0.024606,0.000036,POLYGON ((-74.06933131499994 40.61246821800006...,360850008001,36,085,000800
80029,360850009001,3.608500e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000288,6765,0.0,6442590.0,1807730.0,0.000358,...,0.000008,0.452046,0.148303,0.018323,0.000014,POLYGON ((-74.08110232099995 40.63993022300008...,360850009001,36,085,000900
80030,360850020021,3.608500e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000000,0,0.0,6442590.0,1807730.0,0.000000,...,0.000008,0.452046,0.148303,0.039824,0.000067,POLYGON ((-74.06957131399997 40.59702821500008...,360850020021,36,085,002002
80031,360850021001,3.608500e+11,35620.0,"New York-Northern New Jersey-Long Island, NY-N...",0.000599,13404,0.0,6442590.0,1807730.0,0.000709,...,0.000008,0.452046,0.148303,0.021843,0.000016,POLYGON ((-74.07913531999998 40.62958122100008...,360850021001,36,085,002100

In [24]:
job_access_nyc = job_access_nyc.groupby(['CFIPS', 'TRFIPS']).mean().reset_index()

In [28]:
job_access_nyc['tract_code'] = job_access_nyc['CFIPS'] + job_access_nyc['TRFIPS']
job_access_nyc = job_access_nyc.merge(nta_tracts, how = 'left', left_on = 'tract_code', right_on = 'full_code')

In [30]:
job_access_nyc.head(1)

,CFIPS,TRFIPS,CBG_ID,CBSA,TrAccess_I,Pop_byTr,Pop_byTr_m,Pop_byTr_1,Pop_byTr_a,Pct_Pop_by,...,Shape_Area,tract_code,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Code,Name,full_code
0,005,000100,3.600500e+11,35620.0,0.01,168529.5,0.0,6442590.0,1807730.0,0.008918,...,0.000144,005000100,Bronx,005,2,000100,3710,BX98,Rikers Island,005000100

In [31]:
job_access_nyc.columns

Index(['CFIPS', 'TRFIPS', 'CBG_ID', 'CBSA', 'TrAccess_I', 'Pop_byTr',
       'Pop_byTr_m', 'Pop_byTr_1', 'Pop_byTr_a', 'Pct_Pop_by', 'Pct_Pop__1',
       'Pct_Pop__2', 'Pct_Pop__3', 'HU_byTr', 'HH_byTr', 'Wrks_byTr',
       'Wrks_byTr_', 'Wrks_byTr1', 'Wrks_byT_1', 'Pct_Wrks_b', 'Pct_Wrks_1',
       'Pct_Wrks_2', 'Pct_Wrks_3', 'LoWgWrks_b', 'LoWgWrks_1', 'LoWgWrks_2',
       'MeWgWrks_b', 'HiWgWrks_b', 'LoMeWgWrks', 'LoMeWgWr_1', 'LoMeWgWr_2',
       'Pct_LoWgWr', 'Pct_LoWg_1', 'Pct_LoWg_2', 'Pct_LoWg_3', 'Pct_MeWgWr',
       'Pct_LoMeWg', 'Pct_LoMe_1', 'Pct_LoMe_2', 'Pct_LoMe_3', 'Jobs_byTr',
       'Jobs_byTr_', 'Jobs_byTr1', 'Job_byTr_A', 'Pct_Jobs_b', 'Pct_Jobs_1',
       'Pct_Jobs_2', 'Pct_Jobs_3', 'Shape_Leng', 'Shape_Area', 'tract_code',
       'Borough', '2010 Census Bureau FIPS County Code',
       '2010 NYC Borough Code', '2010 Census Tract', 'PUMA', 'Code', 'Name',
       'full_code'],
      dtype='object')

In [33]:
job_access_df = job_access_nyc.drop(['TRFIPS', 'CFIPS', 'CBG_ID','CBSA','Pop_byTr','Pop_byTr_m', 'Pop_byTr_1',
                                     'Pop_byTr_a', 'Pct_Pop_by', 'Pct_Pop__1','Pct_Pop__2', 'Pct_Pop__3',
                                     'Shape_Leng', 'Shape_Area','Borough', '2010 Census Bureau FIPS County Code',
                                     '2010 NYC Borough Code', '2010 Census Tract', 'PUMA', 'full_code'], axis = 1)
job_access_df.head()

,TrAccess_I,HU_byTr,HH_byTr,Wrks_byTr,Wrks_byTr_,Wrks_byTr1,Wrks_byT_1,Pct_Wrks_b,Pct_Wrks_1,Pct_Wrks_2,...,Jobs_byTr_,Jobs_byTr1,Job_byTr_A,Pct_Jobs_b,Pct_Jobs_1,Pct_Jobs_2,Pct_Jobs_3,tract_code,Code,Name
0,0.010000,82858.000000,73093.000000,73792.500000,0.0,2521826.0,720736.0,0.009246,0.000028,0.315971,...,3626438.0,62.0,1189730.0,0.037188,0.000008,0.452046,0.148303,005000100,BX98,Rikers Island
1,0.000000,0.000000,0.000000,0.000000,0.0,2521826.0,720736.0,0.000000,0.000028,0.315971,...,3626438.0,62.0,1189730.0,0.000000,0.000008,0.452046,0.148303,005000200,BX09,Soundview-Castle Hill-Clason Point-Harding Park
2,0.000000,0.000000,0.000000,0.000000,0.0,2521826.0,720736.0,0.000000,0.000028,0.315971,...,3626438.0,62.0,1189730.0,0.000000,0.000008,0.452046,0.148303,005000400,BX09,Soundview-Castle Hill-Clason Point-Harding Park
3,0.009566,142355.750000,131341.500000,121381.000000,0.0,2521826.0,720736.0,0.015208,0.000028,0.315971,...,3626438.0,62.0,1189730.0,0.011575,0.000008,0.452046,0.148303,005001600,BX09,Soundview-Castle Hill-Clason Point-Harding Park
4,0.038333,823620.333333,751896.833333,684104.833333,0.0,2521826.0,720736.0,0.085714,0.000028,0.315971,...,3626438.0,62.0,1189730.0,0.223590,0.000008,0.452046,0.148303,005001900,BX39,Mott Haven-Port Morris

In [34]:
job_access_df.to_csv('job_access_df_by_nta.csv')